<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamolj.cafehorizon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <!--captureWithSaveImage-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher_horizon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_horizon_round"
        android:supportsRtl="true"
        android:theme="@style/ThemeNoActionBar">

        <activity android:name=".MainActivity" />

        <activity android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".chat.ChatActivity"/>
        <activity android:name=".coupon.CouponActivity" />
        <activity android:name=".stamp.StampActivity" />
        <activity android:name=".signUp.SignUpActivity" />
        <activity android:name=".signUp.SignUpDoneActivity" />
        <activity android:name=".signUp.SignUpSocialActivity" />
        <activity android:name=".OrderedListActivity" />
        <activity android:name=".OrderStateActivity" />
        <activity android:name=".PayOrderActivity" />
        <activity android:name=".HowToDetailActivity" />
        <activity android:name=".HowToActivity" />
        <activity android:name=".smartOrder.CafeMenuDetailActivity" />
        <activity android:name=".smartOrder.FilledCartActivity" />
        <activity android:name=".smartOrder.EmptyCartActivity" />
        <activity android:name=".smartOrder.SmartOrderActivity"/>
        <activity android:name=".newsAndEvents.NewsDetailActivity" />
        <activity android:name=".newsAndEvents.EventsDetailActivity" />
        <activity android:name=".newsAndEvents.NewsAndEventsActivity" />
        <activity android:name=".notice.NoticeActivity" />
        <activity android:name=".FindInfoActivity" />
        <activity android:name=".BarcodeActivity" />
        <activity android:name=".MyInfoActivity" />
        <activity android:name=".UnsubscribeActivity" />
        <activity android:name=".UnsubDoneActivity" />
        <activity android:name=".TesterFunctions" />

        <!--captureWithUseCache-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.teamolj.cafehorizon"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <!-- Facebook Login -->
        <meta-data android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="false"/>
        <meta-data android:name="com.facebook.sdk.AdvertiserIDCollectionEnabled"
            android:value="false"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity android:name="com.facebook.CustomTabActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <!-- for FCM service -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ch_notification_icon" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/notification_channel_id" />

        <service
            android:name=".HorizonMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>