<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamolj.cafehorizon">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ThemeNoActionBar">
        <activity android:name=".OrderedListActivity"></activity>
        <activity android:name=".OrderStateActivity" />
        <activity android:name=".PayOrderActivity" />
        <activity android:name=".HowToDetailActivity" />
        <activity android:name=".HowToActivity" />
        <activity android:name=".smartOrder.CafeMenuDetailActivity" />
        <activity android:name=".smartOrder.FilledCartActivity" />
        <activity android:name=".smartOrder.EmptyCartActivity" />
        <activity android:name=".smartOrder.SmartOrderActivity" />
        <activity android:name=".newsAndEvents.NewsDetailActivity" />
        <activity android:name=".newsAndEvents.EventsDetailActivity" />
        <activity android:name=".newsAndEvents.NewsAndEventsActivity" />
        <activity android:name=".notice.NoticeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".FindInfoActivity" />
        <activity android:name=".BarcodeActivity" />
        <activity android:name=".MyInfoActivity" />
        <activity android:name=".UnsubscribeActivity" />
        <activity android:name=".UnsubDoneActivity" />
    </application>

</manifest>